section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dropzone {
    width: 100vh;
    height: 100vh;
}

.dropzone > div {
    text-align: center;
    width: 100vh !important;
    height: 50vh !important;
}

.logo {
    display: block;
    width:  25% !important;
    height:  25% !important;
    margin: auto auto 10px;
}